html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.footer-link {
    color: #6c757d;
}

.footer-link.active {
    color: #212529;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.dropdown-menu {
    min-width: auto;
}

.site-wrapper .page-title {
    margin: 25px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.tile-list-wr {
    display: grid;
    grid-gap: 0 4%;
    grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
    grid-template-rows: auto
}

.movie-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie-block .movie-block__poster {
    width: 218px;
    height: 322px;
    overflow: hidden;
    display: block;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.movie-block:hover {
    cursor: pointer;
    opacity: 0.8;
}

.tile-list-wr .movie-block {
    /*display: flex;*/
    width: 100%;
    justify-content: center
}

.movie-block__inner {
    position: relative;
    display: inline-block;
}

.movie-block .card-title {
    background: #222;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 3px 5px;
}

@media screen and (max-width: 1024px) {
    .tile-list-wr {
        display: block
    }

    .movie-block,
    .tile-list-wr .movie-block {
        display: inline-block;
        width: 160px;
        margin: 10px 25px 40px
    }

    .movie-block .card-title {
        font-size: 14px;
    }

}

@media (max-width: 576px) {

    .optimize .tile-list-wr {
        display: block
    }

    .optimize .tile-list-wr .movie-block {
        display: block
    }

    .optimize .movie-block {
        margin: 10px 0 40px;
        text-align: center;
        width: 100%
    }

    .optimize .movie-block .card-title {
        font-size: 22px;
    }
}


.timetable-wrapper {
    display: grid;
    grid-template-columns: 256px 1fr;
    border-top: 1px #f3f3f3 solid;
}

.timetable-wrapper .desktop-filters {
    grid-column: 1;
}

.timetable-wrapper .movies {
    grid-column: 2;
}

.filter-panel {
    width: 256px;
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

div.filter-title {
    flex-direction: row;
    padding: 15px 10px;
}

.small-text {
    font-size: 12px;
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
    .filter-section {
        align-items: normal;
    }
}

.date-filter {
    flex-direction: column;
    margin-bottom: 1px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 10px;
    border-bottom: 1px #f3f3f3 solid;

}

.filter-section__title {
    padding: 5px;
    margin-left: 15px;
}

.small-grey-text {
    font-size: 12px;
    color: #b6b6b6;
}

.mr-15 {
    margin-right: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.m-20 {
    margin: 20px;
}


.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
    .filter-group {
        width: auto;
    }
}

.filter-group {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-left: 50px;
}

.group-item {
    margin-top: 5px;
    text-align: left;
}

.movie {
    display: flex;
    padding: 50px 30px;
    margin-bottom: 10px;
    min-height: 277px;
    background-color: #f5f5f5;
}

.movie .tablet-movie-name {
    display: none;
}

.link-text {
    color: #3cb4e7;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.box-for-img, .box-for-img__inner {
    position: relative;
}

.movie .movie-info {
    margin-left: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fallback-img, .poster {
    cursor: pointer;
    width: 100px;
    height: 150px;
    display: block;
}

.movie .movie-info {
    margin-left: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.movie .movie-info .movie-name {
    color: #3cb4e7;
    font-weight: 600;
}

.movie .tech {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie .technology-title {
    min-width: 145px;
    text-transform: uppercase;
}

.movie .seances {
    width: 350px;
}

.chips:disabled {
    color: #b6b6b6;
    background-color: #f5f5f5;
    border: 1px solid #b6b6b6;
    cursor: default;
}

.chips {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 28px;
    margin: 5px 12px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: #3cb4e7;
    cursor: pointer;
    border: none;
}

.none-text-decoration {
    text-decoration: none;
}


/* start order styles */

@media (min-width: 1220px) and (max-width: 1279px) {
    .order-content {
        padding-top: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .order-content {
        padding-top: 0;
    }
}

.order-content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    -js-display: flex;
    position: relative;
    justify-content: space-between;
}

.order-content {
    min-height: calc(100% - 130px - 60px);
}

@media (min-width: 992px) and (max-width: 1279px) {
    .order-content .content__left-block {
        padding-top: 0;
    }
}

@media (max-width: 1279px) {
    .order-content .content__left-block {
        padding-top: 50px;
    }
}

.order-content .content__left-block {
    display: flex;
    -js-display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 0 0 40%;
    width: 40%;
    min-width: 430px;
}

@media (max-width: 1600px) {
    .order-content .content__left-block {
        padding-left: 5%;
        padding-right: 5%;
        flex: 0 0 40%;
        width: 40%;
    }
}

.left-block-row {
    display: flex;
    -js-display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-block-row .left-block-row__item {
    width: 95%;
}

.dv {
    display: block;
}

.movie-badge {
    width: 100%;
    min-height: 125px;
}

.movie-badge .movie-badge__poster {
    display: inline-block;
    float: left;
    width: 85px;
    height: 125px;
    margin-right: 20px;
    margin-top: 0px;
}

.movie-badge .movie-badge__poster img {
    width: 100%;
}

@media (min-width: 992px) and (max-width: 1439px) {
    .movie-badge .movie-badge__title {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.movie-badge .movie-badge__title {
    color: #252525;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0px;
    height: 23px;
}

@media (min-width: 992px) and (max-width: 1439px) {
    .info-badges {
        top: 15px !important;
    }
}

@media (min-width: 992px) and (max-width: 1439px) {
    .info-badges {
        display: block;
    }
}

.info-badges {
    display: block;
    position: relative;
}

.movie-info .movie-info__text {
    font-size: 16px;
    color: #252525;
    line-height: 25px;
    vertical-align: middle;
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .movie-info__text {
        font-size: 14px !important;
    }
}

.movie-info .movie-info__element {
    line-height: 25px;
    margin-top: -5px;
    font-size: 16px;
}

.left-block-row .left-block-row__delete-item {
    font-size: 22px;
    color: #acacac;
    cursor: pointer;
    margin-left: 10px;
    width: 14px;
}

@media (min-width: 992px) and (max-width: 1439px) {
    .add-to-cart {
        height: 60px !important;
    }
}

.add-to-cart {
    cursor: pointer;
    width: 100%;
    border-radius: 100px;
    background-color: #3cb4e7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    font-weight: 600;
    margin-top: 30px;
}

.add-to-cart .add-to-cart__content-left {
    float: left;
}

.add-to-cart .add-to-cart__content-right {
    float: right;
}

.add-to-cart .add-to-cart__price {
    font-size: 14px;
    font-weight: 600;
}

.add-to-cart .add-to-cart__currency {
    font-size: 14px;
    font-weight: 600;
}

.order-content .content__middle-block {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    box-sizing: border-box;
    flex: 0 0 48%;
    width: 60%;
    padding-top: 50px;
}

@media (max-width: 991px) {
    .order-content .content__middle-block {
        width: 100%;
        padding-bottom: 0;
        padding-top: 25px;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 992px) {
    .order-content .content__middle-block {
        padding-top: 40px;
        padding-right: 4%;
        flex: 0 0 48%;
        width: 65%;
    }
}

@media (max-width: 991px) {
    .order-content .content__left-block {
        width: 60%;
        padding-top: 25px;
        padding-bottom: 25px;
        min-width: auto;
    }
}

@media (max-width: 767px) {
    .order-content .content__left-block {
        width: 88%;
        padding-right: 5%;
        padding-left: 7%;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .order-content .content__left-block {
        padding-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .order-content {
        padding-top: 0;
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1439px) {
    .ticket-info {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media (min-width: 992px) and (max-width: 1439px) {
    .ticket-info {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 4.5px;
        padding-bottom: 4.5px;
    }
}

.content__middle-block {
    text-align: center;
}

.hall-area {
    display: initial;
}

.hall-scheme__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #ccc;
}

.hall-info__price_block {
    margin-bottom: 10px;
}

.hall-info__price {
    font-size: 14px;
    font-weight: 600;
    color: #252525;
}

.ticket-info .ticket-info__price-number {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}

.ticket-info {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    vertical-align: center;
    display: flex;
    -js-display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-info .ticket-info__seats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
}

.ticket-info .ticket-info__block {
    text-align: center;
}

.ticket-info .ticket-info__number {
    font-size: 24px;
    font-weight: 600;
    color: #252525;
}

@media (min-width: 992px) and (max-width: 1439px) {
    .ticket-info .ticket-info__number {
        font-size: 18px;
        font-weight: 600;
    }
}

.ticket-info .ticket-info__description {
    font-size: 12px;
    color: #252525;
}

@media (min-width: 992px) and (max-width: 1439px) {
    .ticket-info__description {
        font-size: 10px !important;
    }
}

.ticket-info .ticket-info__price-block {
    color: #3cb4e7;
    height: 47px;
    margin-top: -3px;
    width: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ticket-info .ticket-info__block {
    text-align: center;
}

@media (min-width: 992px) and (max-width: 1439px) {
    .ticket-info__price-block {
        margin-top: 4px !important;
    }
}

.ticket-info .ticket-info__price-wrapper {
    text-align: center;
}

.user-order-block {
    margin-top: 20px;
}

.hall-scheme .hall-scheme__screen {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.hall-scheme__screen img {
    width: 100%;
}

/* schedule seats style */

.hall-area .seat[type=checkbox] {
    border-radius: 7px;
     width: 19px;
     --active: #275EFE;
     --active-inner: #fff;
     --focus: 2px rgba(39, 94, 254, .3);
     --border: #BBC1E1;
     --border-hover: #275EFE;
     --background: #fff;
     --disabled: #F6F8FF;
     --disabled-inner: #E1E6F9;
     -webkit-appearance: none;
     -moz-appearance: none;
     height: 27px;
     outline: none;
     display: inline-block;
     vertical-align: top;
     position: relative;
     margin: 0;
     cursor: pointer;
     border: 1px solid #bbc1e1;
     background: #fff;
     transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    margin: 5px;
 }

.hall-area .seat[type=checkbox]:checked {
    border: 1px solid #275efe;
    background: #275efe;
}

.hall-area .seat[type=checkbox]:disabled:checked {
    border: 1px solid #e1e6f9;
    background: #cccfe0;
}

.hall-area .seat[type=checkbox]:hover:not(:checked):not(:disabled) {
    border: 1px solid #275efe;
}

/* end order styles */


/* start profile styles */

.content__box {
    background-color: #fff;
    padding: 0 20px 20px;
    text-align: left;
}

.content__box-item:not(:last-child) {
    margin-bottom: 30px;
}

.content__title {
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 25px;
    margin-top: 0;
    color: #0D0D0D;
    font-size: 17px;
    font-weight: 600;
}

.content__title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #EAEAEA;
}

.item-block:not(:last-child) {
    margin-bottom: 10px;
}

.item-block {
    position: relative;
    display: flex;
    align-items: center;
}

.info-block {
    position: relative;
    display: flex;
}

.item-block label {
    max-width: 140px;
    min-width: 140px;
    margin-right: 15px;
    color: #7C7C86;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .7px;
}

.item-block input {
    max-width: 340px;
    min-width: calc(340px - 10px);
    width: 100%;
    margin: 5px !important;
    border: 1px solid #b2b2b4;
    border-radius: 20px;
    padding: 7px;
    padding-top: 8px;
    color: #000;
    font-size: 14px;
}

.item-block textarea {
    resize: none;
    overflow: hidden;
    outline: none;
    min-width: calc(340px - 10px);
    width: 100%;
    margin: 5px !important;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 7px;
    padding-top: 8px;
    font-size: 14px;
}

.item-photo img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    height: 250px;
    border: 1px #e8e8e8 solid;
}

.min-input {
    max-width: 200px!important;
    min-width: 200px!important;
}

/* end profile styles */

/* start ticket styles */

.fl-left{float: left}

.fl-right{float: right}

h1
{
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #fec500;
    padding-left: 10px;
    margin-bottom: 30px
}

.tickets-box {overflow: hidden}

.card
{
    display: table-row;
    width: 48%;
    background-color: #fff;
    color: #989898;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative;
    margin-left: 2%
}

.barcode
{
    display: table-cell;
    width: 100px;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6
}

.barcode:before,
.barcode:after
{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #DADDE6;
    position: absolute;
    top: -15px ;
    right: -15px;
    z-index: 1;
    border-radius: 50%
}

.barcode:after
{
    top: auto;
    bottom: -15px
}

.barcode time
{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.barcode time span{display: block}

.barcode time span:first-child
{
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%
}

.barcode time span:last-child
{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px
}

.card-cont
{
    display: table-cell;
    font-size: 85%;
    padding: 10px 10px 30px 50px
}

.card-cont h3
{
    color: #3C3C3C;
    font-size: 130%
}

.card-cont > div
{
    display: table-row
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p
{
    display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i
{
    padding: 5% 5% 0 0
}

.card-cont .even-info p
{
    padding: 30px 50px 0 0
}

.card-cont .even-date time span
{
    display: block
}

.card-cont a
{
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: #D8DDE0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.tickets-box :last-child .card:first-child .card-cont a
{
    background-color: #037FDD
}

@media screen and (max-width: 860px)
{
    .card
    {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .card-cont .even-date,
    .card-cont .even-info
    {
        font-size: 75%
    }
}

.order-info {
    margin-bottom: 30px;
}

.user-order {
    display: flow-root;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.user-order:not(:last-child) {
    border-bottom: 1px solid #efefef;
}

.order-price {
    font-weight: 600;
    color: #8c8c8c;
    font-size: 18px;
}

/* end ticket styles */